@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite";

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav ul li {
  display: inline;
  padding: 24px 50px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button[data-testid="carousel-right-control"] {
  background-color: #1a3a5a;
  color: white;
  margin-right: -232px;
}

button[data-testid="carousel-left-control"] {
  background-color: #1a3a5a;
  color: #1a3a5a;
  margin-left: -232px;
}

button[data-testid="carousel-indicator"] {
  background-color: #1a3a5a;
  color: white;
}

.inline-flex {
  background-color: #1a3a5a;
  width: 70px;
  height: 67px;
}
.group {
  border-radius: 80px;
}

input[type="range"]:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #1a3a5a;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Elimina el estilo por defecto del thumb */
  border: 1px solid #1a3a5a;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #1a3a5a;
  cursor: pointer;
  margin-top: -7px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #1a3a5a; /* Color del track */
  border-radius: 5px;
  border: 1px solid #1a3a5a; /* Bordes del track */
}
